<%- include("./header.ejs") %>

<br><br><br><br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h2 class="text-center bg-info">Profile</h2>
                <div class="card">
                    <img src="<%= image.url %>" alt="" width="" style="border-radius: 30px;width: 100px;margin-left: 36%;">
                    <div class="card-body">
                        <h4>Name: <%= name %>
                        </h4>
                        <h4>Email: <%= email %>
                        </h4>
                        <br>
                        <button data-bs-toggle="modal" data-bs-target="#updateprofile" class="btn btn-primary">Update
                            profile</button>

                        <button data-bs-toggle="modal" data-bs-target="#ChangePassword" class="btn btn-info">Change
                            Password</button>

                    </div><!--card body end-->


                </div><!--card end-->
            </div>
            <div class="col-md-4"></div>

        </div><!--row end-->

        <!--updateProfile Modal -->
        <div class="modal fade" id="updateprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Profile Update</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/updateProfile" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="">Name</label>
                                <input type="text" value="<%= name %>" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">Email</label>
                                <input type="text" value="<%= email %>" name="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">Image</label>
                                <input type="file" name="image" class="form-control">
                                <img src="<%= image.url %>" alt="" width="50">
                            </div>

                            <button type="submit" class="btn btn-success">Update Profile</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--End updateProfile Modal -->

        <!--Change Password Modal -->
        <div class="modal fade" id="ChangePassword" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/changePassword" method="post">
                            <div class="mb-3">
                                <label for="">Old Password</label>
                                <input type="text" name="op" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">New Password</label>
                                <input type="password" name="np" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">Confirm Password</label>
                                <input type="password" name="cp" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Change Password</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--End Change Password Modal -->


    </div><!--container end-->

<%- include("./footer.ejs") %>
