<%- include("../header.ejs") %>

<br><br><br>

<h1 class="bg-info text-center mt-5">Course Display</h1>

<div class="container">
    <table class="table table-bordered text-center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Status</th>
            <th>Message</th>
          
            <th>Action</th>
           
        </tr>
        <% courses.forEach((item)=>{ %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.course %></td>
                <td><%= item.status %></td>
                <td><%= item.comment %></td>
                <td>
                    <a href="/courseShow/<%= item.id %>" class="btn btn-info">view</a>
                    <a href="/courseEdit/<%= item.id %>" class="btn btn-success">edit</a>
                    <a href="/courseDelete/<%= item.id %>" class="btn btn-danger">delete</a>
                </td>
            </tr>
       <% }) %>
       
    </table>
    <center>
        <a href="/home" class="btn btn-info">Back</a>
    </center>
</div>
<%- include("../footer.ejs") %>
